#tablePedidoRT{
	margin-top: 87px;
	background-color: rgba(110, 105, 109, 0.58);
	width: 60%;
    margin-left: 217px;
}
#tableEnvios1{
	background-color: rgba(110, 105, 109, 0.58);
    margin-top: 20px;
    width: 45%;
    float: left;
}
#tableEnvios2{
	background-color: rgba(110, 105, 109, 0.58);
    margin-top: 20px;
    width: 45%;
    float: right;
}
#tableEnvios3{
	background-color: rgba(110, 105, 109, 0.58);
    margin-top: 20px;
    width: 70%;
    margin-left: 177px;
}

#frmDelivery{

    padding-left: 15px;
    padding-right: 15px;
}
/*Formulario Registro de clientes*/
#tablaClientes{
	width: 50%;
    margin: 0 auto;
	text-align: center;
    background-color: rgba(110, 105, 109, 0.58);
}

#btnGoogle{
	border:none;
	width: 100%;
	text-align: -webkit-center;
	background-color: transparent;
}
#BtnRegistrar{
margin-top: 20px;

}
/*Formulario Registro de clientes*/
Columnaapellido
Columnaclave
ColumnaDireccion
Columnaemail
ColumnaidUsuario
Columnanombre
Columnarut
Columnatelefono
