#tablePedidoRT{
	background-color: rgba(110, 105, 109, 0.58);
	width: 70%;
	padding: 50px;
	margin: 0 auto;
	margin-top: 51px;
}
#tableEnvios1{
	background-color: rgba(110, 105, 109, 0.58);
	margin: 0 auto;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 33px;
	margin-bottom: 50px;
	width: 86%;
}
#tableEnvios2{
}
#tableEnvios3{
}

#frmDelivery{
    padding-left: 15px;
    padding-right: 15px;
}
/*Formulario Registro de clientes*/
#clte{
    padding-top: 18px;
    width: 70%;
    height: 522px;
    margin: 0 auto;
    margin-top: 0px;
    background-color: rgba(110, 105, 109, 0.58);
}
#newSocio{
	padding-top: 12px;
	width: 70%;
	height: 472px;
	margin: 0 auto;
	background-color: rgba(110, 105, 109, 0.58);
}
#tablaClientes{
	width: 81%;
	margin: 0 auto;
	text-align: center;
}

#btnGoogle{
	border:none;	
	
	background-color: transparent;
}
#BtnRegistrar{
    margin-top: 20px;
         width: 122px;

}

